{% extends 'base.html' %}
{% load staticfiles %}


{% block unstyled_content %}

<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <div class="container-fluid ">
            <br>
            Welcome, {{ user }}!

            {% if user.is_superuser is True %}
                <br><strong>You're admin!</strong>
            {% endif %}
            <br>
                {% ifequal login_count 0 %}
                        hello! it's your first login.
                {% endifequal %}
           <img src='{% static "cat.png" %}' class="img-thumbnail img-fluid"/>
        </div>
    </div>
    <div class="col-sm-8">
    </div>
  </div>
</div>

{% endblock %}
{% block title %} home title {% endblock %}