{% extends 'base.html' %}
{% load staticfiles %}


{% block unstyled_content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="container-fluid ">
            <br>
            Welcome, {{ user }}!

            {% if user.is_superuser is True %}
                <br><strong>Table of users:</strong>
                <br><br>

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Firstname</th>
                      <th scope="col">Lastname</th>
                      <th scope="col">Username</th>
                      <th scope="col">Email</th>
                      <th scope="col">Admin</th>
                      <th scope="col">Edit User</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in my_users %}
                    <tr>
                         <td>{{user.first_name}}</td>
                         <td>{{user.last_name}}</td>
                         <td>{{user.username}}</td>
                         <td>{{user.email}}</td>
                         <td>{{user.is_superuser}}</td>
                         <td><a href="{% url 'edit_user' id=user.id %}">edit me</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

            {% endif %}
        </div>
    </div>

  </div>
</div>

{% endblock %}
{% block title %} MyAdmin page {% endblock %}